h1{
	color: green;
	border-style: solid;
}

body{
 background-image: url("../img/black.jpg");
margin-bottom: 250px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
img{
float: left;
color: green;
}
h2, h5, h8{
padding-top: 40px;
margin-left: 20px;
}
h3,h9,h10
{
	font-size: 25px;
	color: white;
	margin-top: 20px
	margin-left: 200px;
}
p{
	font-size: 20px;
	color: green;
	padding-left: 300px;
	text-align: justified;
	padding-bottom: 50px
}
h6
{
	font-size: 25px;
	color: white;
	text-align: left;
	padding-left: 300px;
	padding-left: 20px;
}

